.personal {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 256px;
    width: 221px;
  }
  
  .person-icon {
    height: 60px;
    margin-right: 3.34px;
    object-fit: cover;
    width: 60px;
  }
  
  .personal-trips {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 4.0px;
    margin-top: 18px;
    min-height: 42px;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    width: 217px;
  }
  
  .text-blurb {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 4.34px;
    margin-top: 16px;
    min-height: 120px;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    width: 217px;
  }
  
  