
/*+++++++++++++++++++*/

@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

/*+++++++++++++++++++ MEDIA QUERY FOR SMALL +++++++++++++++++++ */
@media only screen and (min-width: 1px) and (max-width: 991px) {
    #progress-bar {
        flex-wrap: wrap;
        padding: 0px 100px 0px 100px;
    }

    #progress-bar div {
        margin: 10px;
    }

    .innerbox {
        flex-wrap: wrap;
    }

    .box {
        height: 550px;
    }

    #filter-box {
        display: none;
    }

    #filter-button {
        display: flex;
        justify-content: center;
        padding: 0px 150px 0px 150px;
    }
    #filter-button .car-btn {
        background-color: #242424;
        color: #0FB877;
    }
}

/*+++++++++++++++++++ MEDIA QUERY FOR LARGE +++++++++++++++++++ */
@media only screen and (min-width: 992px){
    #progress-bar {
        flex-wrap: nowrap;
    }

    .innerbox {
        flex-wrap: nowrap;
    }

    .box {
        height: 300px;
    }

    #car-selection {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 3fr;
    }

    #filter-box {
        background-color: #242424;
        height: 800px;
        border-radius: 10px;
        margin: 40px;
        display: flex;
        flex-direction: column;
        padding: 20px 10px 20px 40px;
        color: white;
    }

    #filter-button .car-btn {
        display: none;
    }

}

/*+++++++++++++++++++ GLOBAL STYLES +++++++++++++++++++ */
.font-link {
    font-family: 'Poppins', sans-serif;
}

.root-style {
    background-color: #393939;
    position: absolute;
    width: 100%;
    height: '100vh';
    min-height: '100vh';
    color: black;
}

.jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5) ), url("../assets/car-banner.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100vw;
    margin-bottom: 40px;
}

#progress-bar {
    display: flex;
    flex-direction: row;
}

.bottom-line {
    border-bottom: 10px solid black;
    flex: 1 1 auto;
    margin-left: 10px;
    margin-right: 10px;
}

#selected {
    color: #0FB877;
}

#selected.bottom-line {
    border-bottom: 10px solid #0FB877;
}

.box {
    background-color: #242424;
    border-radius: 10px;
    margin: 40px;
    display: flex;
    justify-content: center;
}

.innerbox {
    display: flex;
    flex-direction: row;
    margin: 5px 10px 5px 10px;
}

.field {
    border: 1px solid white;
    border-radius: 10px;
    margin: 15px 20px 15px 20px;
    flex: auto;
    padding: 20px 0px 0px 40px;
    height: 100px;
    color: #BFBFBF;
}

#car-box {
    height: 250px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.car-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.car-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.car-btn {
    background-color: #C8E745;
    color: black;
    margin: auto;
    height: 65px;
}

.modal {
    background-color: #393939;
    color: white;
}

.header-text {
    color: white;
}

.sub-text {
    color: #808080;
}

.rental-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.rental-details {
    background-color:  #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 40vh;
    width: 70vw;
}

.member-box {
    background-color:  #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 25vh;
    width: 70vw;
    margin: 20px;
}

.wide-car-btn {
    background-color: #C8E745;
    color: black;
    height: 5vh;
    width: 10vw;
    margin-top: 3px;
}

.rental-input {
    border-radius: 10px;
    border: 1px solid white;
    background-color:  #242424;
    color: #808080;
    height: 3vw;
    width: 30vw;
    margin: 3px;
    text-align: center;
}
.personal-details {
    background-color:  #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 90vh;
    width: 70vw; 
    margin-bottom: 20px;
}

