.premium-service-for-personal-needs {
    color: var(--white2);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    min-height: 136px;
    min-width: 451px;
  }
  
  