.header {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    height: 108px;
    justify-content: flex-end;
    left: 58px;
    min-width: 1323px;
    padding: 32px 0;
    position: absolute;
    top: 21px;
  }
  
  .person-icon-1 {
    cursor: pointer;
    height: 38px;
    object-fit: cover;
    width: 38px;
  }
  